.footer {
    padding: 2em 0;
    background: #fed201;
    color: #000;
    p {
        text-align: center;
        letter-spacing: 2px;
    }
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin: 20px;
    img {
        width: 25px;
        height: auto;
        margin: 5px 10px;
    }
}

 

 