* {
  box-sizing: border-box;
  margin: 0;
}

/* .cardButton {
  background-color: #1a75bc;
  border: 1px solid #FFF;
  padding: 5px;
  border-radius: 6px;
  color: #FFF;
}

.cardButton:hover {
  background-color: #FFF;
  color: #1a75bc;
  cursor: pointer;
  border: 1px solid #1a75bc;
} */